<!DOCTYPE html>
<html>
    <head>
        <title>@Page.Title</title>
        @RenderSection("head", required: false)
    </head>
    <body>
        <p>i am layout page</p>
        @RenderBody()
    </body>
</html>
